PORT=
MONGO_URI=
JWT_SECRET=
JWT_EXPIRES_IN=
JWT_COOKIE_EXPIRES=7


# Cloudinary Config
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Nodemailer Config
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password
FROM_EMAIL=your_email@gmail.com
FROM_NAME=MERN_Backend

//Razorpay setup
PAYMENT_API_KEY=
PAYMENT_API_SECRET=
